{% case node.type %}
{% when 'xref' %}
  {% if node.text %}
    <a data-type="xref" href="{{ node.target }}">{{ node.text }}</a>
  {% elsif node.document.references.ids[node.attributes.refid] %}
    <a data-type="xref" href="{{ node.target }}">{{ node.document.references.ids[node.attributes.refid] }}</a>
  {% else %}
    <a data-type="xref" href="{{ node.target }}">[{{ node.attributes.refid }}]</a>
  {% endif %}
{% when 'ref' %}
  <a id="{{ node.target }}"></a>
{% when 'link' %}
  <a href="{{ node.target }}"
     {% if node.attributes.title %}title="{{ node.attributes.title }}"{% endif %}
     {% if node.attributes.window %}target="{{ node.attributes.window }}"{% endif %} >{{ node.text }}</a>
{% when 'bibref' %}
  <a id="{{ node.target }}"></a>[{{ node.target }}]
{% endcase %}
