{% case node.sectname %}
{% when 'sect0' %}
  <section data-type="part">
    <h1>{{ node.title }}</h1>
    {{ node.content }}
  </section>
{% when 'sect1' %}
  <section data-type="chapter">
    <h1>{{ node.title }}</h1>
    {{ node.content }}
  </section>
{% when 'sect2' %}
  <section data-type="sect1">
    <h1>{{ node.title }}</h1>
    {{ node.content }}
  </section>
{% else %}
  <section data-type="{{ node.sectname }}">
    <h1>{{ node.title }}</h1>
    {{ node.content }}
  </section>
{% endcase %}
